:root {
  --grey: #E7E7E7;
  --red: #FF4500;
  --dark-blue:#2e294e;
  --teal: #1B998B;
  --lime:#C5D86D;
}
.App {
  font-size: 16px;
  background-color: var(--grey);
  box-sizing: border-box;
  color: var(--dark-blue);
}
a {
  color: var(--teal);
  text-decoration: none;
}
a:hover{
  color: var(--lime);
  text-decoration: underline;
}
.panel {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
}
hr {
  color: var(--teal);
}


